.product-detail__title {
  font-weight: bold;
}

.product-detail__image-wrap {
  margin: 20px 0 0;
}

.product-detail__miner-id {
  word-break: break-all;
}

.product-detail__table {
  border-radius: 4px;

  td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
  }
}
